<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <!-- Add shadow and padding -->
        <div class="card shadow-lg rounded" style="background: linear-gradient(135deg, #f5f7fa, #ffffff);">
          <div class="bg-primary bg-soft">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Update Compte</h5>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a href="index.html">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>

            <form class="needs-validation" novalidate action="https://themesbrand.com/skote-symfony/layouts/index.html">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="useremail" class="form-label">ID</label>
                  <input readonly type="text" [(ngModel)]="currentUser.id" name="id" class="form-control">
                  <div class="invalid-feedback">Please Enter ID</div>
                </div>
                <div class="col-md-6">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" [(ngModel)]="currentUser.username" name="username" class="form-control">
                  <div class="invalid-feedback">Please Enter Username</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="useremail" class="form-label">Email</label>
                  <input type="text" [(ngModel)]="currentUser.email" name="email" class="form-control">
                  <div class="invalid-feedback">Please Enter Email</div>
                </div>
                <div class="col-md-6">
                  <label for="userpassword" class="form-label">Password</label>
                  <input type="text" [(ngModel)]="currentUser.password" name="password" class="form-control">
                  <div class="invalid-feedback">Please Enter Password</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="userpassword" class="form-label">Telephone</label>
                  <input type="text" [(ngModel)]="currentUser.nbTel" name="nbTel" class="form-control">
                  <div class="invalid-feedback">Please Enter Telephone</div>
                </div>
                <div class="col-md-6">
                  <label for="userpassword" class="form-label">Age</label>
                  <input type="text" [(ngModel)]="currentUser.age" name="age" class="form-control">
                  <div class="invalid-feedback">Please Enter Age</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="userRole" class="form-label">Role</label>
                  <select class="form-control" id="role" name="role" [(ngModel)]="currentUser.role">
                    <option value="">Select Role</option>
                    <option value="User">user</option>
                    <option  value="Coach">coach</option>
                  </select>
                  <div class="invalid-feedback">Please Select Your Role</div>
                </div>
                <div class="col-md-6">
                  <label for="categorie" class="form-label">Categorie</label>
                  <select class="form-control" id="idCat" name="idCat" [(ngModel)]="updatedCatId">
                    <option *ngFor="let cat of categories" [value]="cat.idCategorie">{{cat.nomCategorie}}</option>
                  </select>
                </div>
              </div>
              <div class="mt-4 d-grid">
                <button class="btn btn-primary waves-effect waves-light" (click)="Modifie()" type="submit">Update</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
