.edit mat-icon {
  color: green; 
}
button.mat-icon-button {
  border: none;
  box-shadow: none;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 5px; /* Espacement entre l'input et le bouton */
}

.search-input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Largeur personnalisée */
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #0056b3; /* Couleur de focus */
}

.search-button {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid  #0056b3;
  border-radius: 4px;
  background-color:  #0056b3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-button:hover {
  background-color:  #0056b3; /* Couleur au survol */
  border-color: #0056b3;
}
